#navegacion  img {
    
    width: 150px;
}
#navegacion .container-fluid {
   background-color:#f1f8fa ;
   

}

.sect {
    background-color: orchid;
}
.presentacion {
    
    justify-content: center;
}
